<!DOCTYPE html>
<html lang="en">

<style>
    nav{
    margin: 15;
    background-color: #b3d9ff;
    align="left";

    }

</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">

      <img src="https://di0da3x67ebhy.cloudfront.net/static/site/img/logo-h-ge.png" >

    </div>
</nav>

<head>
    <meta charset="UTF-8">
    <title>Sistema genomika</title>
    <h1 align="center">Genomika diagnóticos</h1>
</head>
<body>
    <h2>Resultado:{{var}}</h2>
    <h3></h3>



</body>
</html>